 <div class="container">
    <div class="row dois">
      <div class="col-md-5 ">

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Texto</th>
                  <th>Criado em</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= despolitizou.body %></td>
                  <td><%= time_ago_in_words(despolitizou.created_at) %> Ago</td>
                </tr>
              </tbody>
            </table>

                <p><%= link_to 'Apagar', [despolitizou.politizacao, despolitizou],
                  method: :delete,
                  class: "button",
                  data: { confirm: 'Você tem certeza disso?' } %></p>

          </div>


  </div>
</div>
