<div class="container">
    <div class="row">
      <div class="col-md-5">

            <table class="table table-striped">
             <thead>
              <tr>
                <th>Texto</th>
                <th>Criado em</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td><%= politizou.body %></td>
                <td><%= time_ago_in_words(politizou.created_at) %> Ago</td>
              </tr>
               </tbody>
            </table>

              <p><%= link_to 'Apagar', [politizou.politizacao, politizou],
                method: :delete,
                class: "button",
                data: { confirm: 'Você tem certeza disso?' } %></p>
              </div>

  </div>
</div>
